@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body {
  font-family: 'Open Sans', sans-serif;
}

.fa-btn {
  margin-right: 6px;
}

.navbar-default {
 background-color: #1376C9;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > li > a {
  color: #fff;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  background-color: #1369ba;
}
