@import "bower_components/bootstrap-sass/assets/stylesheets/bootstrap";
@import "bower_components/bootstrap-material-design/dist/css/bootstrap-material-design.min";
@import "bower_components/bootstrap-material-design/dist/css/ripples.min";
@import "bower_components/bootstrap-select/dist/css/bootstrap-select.min";
@import "bower_components/datatables.net-dt/css/jquery.dataTables.min";
@import "bower_components/datatables.net-buttons-dt/css/buttons.dataTables.min";
@import "bower_components/jquery-confirm2/dist/jquery-confirm.min";

body {
  font-family: 'Open Sans', sans-serif;
}

.material-icons {
  line-height: 0;
}

.navbar-collapse {
  padding: 0;
}

.form-group {
  margin: 10px 0 0 0;
}

.form-group label.control-label {
  font-size: 14px;
  color: #868686;
  margin: 5px 0 0 0;
}

.form-group label.control-label {
  color: #313131;
}

.table tbody>tr>td{
  vertical-align: middle;
}

h3 {
  margin-bottom: 20px;
}

.not-full-access {
  display: none;
}

.selectbox {
  margin: 0 10px;
  .btn-default {
    border: 1px solid #666;
    padding: 6px 25px 5px 10px;
    font-size: 12px;
    width: 100%;
  }
}

.bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
  width: 100%;
}

.btn {
  margin-top: 0;
  margin-bottom: 0;
  i {
    font-size: 15px;
  }
}

.page-header {
  border-bottom: 1px solid #9A9A9A;
}

.form-group.label-floating label.control-label, .form-group.label-placeholder label.control-label {
  top: 0;
}

.form-group.label-floating.is-focused label.control-label, .form-group.label-floating:not(.is-empty) label.control-label, .form-group.label-static label.control-label {
  top: -15px;
}

form {
  margin-bottom: 20px;
}

.navbar .navbar-nav > li > a {
  padding-top: 15px;
  padding-bottom: 15px;
}

hr {
  border-top: 1px solid #adadad;
  margin-top: 10px;
  margin-bottom: 8px;
}

.companies {
  h3 {
    margin-top: 10px;
  }
}

table.dataTable tbody th, table.dataTable tbody td {
  padding: 3px 5px;
  font-size: 14px;
}

table.dataTable thead th, table.dataTable thead td {
  padding: 4px 5px;
  font-size: 14px;
  background-color: #009688;
  color: #fff;
}

.company-table {
  label {
    color: #292929;
  }
}

.page-header {
  margin: 10px 0 20px;
}

body .container-fluid .well {
  padding: 5px 15px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2), 0 0 5px 0 rgba(0, 0, 0, 0.19);
}

.dataTables_wrapper .dataTables_filter input {
  border: 1px solid #919191;
}

.gutter {
  background-color: rgb(255, 255, 255);
  background-repeat: no-repeat;
  background-position: 50%;
  border-top: 1px solid #CCC;
  border-bottom: 1px solid #CCC;
  margin: 10px -15px;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url('../images/vertical.png');
}

.gutter.gutter-vertical {
  cursor: row-resize;
  background-image: url('../images/horizontal.png');
}

.split.split-horizontal, .gutter.gutter-horizontal {
  height: 100%;
  float: left;
}

#companies {
  overflow: auto;

  form {
    margin-bottom: 0;
    button {
      margin-left: 10px;
    }
  }
}

.filter {
  h3 {
    margin: 10px 10px 0 0;
  }
}

.jconfirm-box {
  margin-top: 100px !important;
}